.main-nav {
    padding: 5px 20px;

    .header-login {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .header-logout {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .header-right {
        display: flex;
        gap: 30px;
    }

    a {
        font-weight: bold;
        color: $color-text;
    }
    a.router-link-exact-active {
        color: $color-highlight;
    }
    &-item {
        text-decoration: none;
        margin-right: 0.5rem;

        &:hover {
            text-decoration: underline;
        }
      }
      &-logo {
        display: flex;
        align-items: center;

        img {
            max-width: 100%;
            width: 200px;
        }
      }
  }