@font-face {
    font-family: Avenir, Arial, Helvetica, sans-serif;
    src: url(../../assets/font/avenir_roman_12.woff) format(woff);
}

$color-text: #2c3e50;
$color-highlight: #42b983;
$color-back: #12002b;
